{% load static %}
{% load static i18n %}

<section id="contact">
  <div class="contact-info web_size">
    <h3>Contact us</h3>
    <div class="contact-items-group">
        <div class="contact-item">
            <a href="">
            <div class="icon">
                <img
                    src="{% static 'assets/home/whatsapp.png' %}"
                    alt="Phone"
                />
            </div>
            <span>+000 000 00 00</span>
            </a>
        </div>

        <div class="contact-item">
            <a href="">
            <div class="icon">
                <img
                    src="{% static 'assets/home/instagram.png' %}"
                    alt="Instagram"
                />
            </div>
            <span>@example</span>
            </a>
        </div>
        <div class="contact-item">
            <a href="">
                <div class="icon">
                    <img
                        src="{% static 'assets/home/facebook.png' %}"
                        alt="facebook"
                    />
                </div>
                <span>@example</span>
            </a>
        </div>
        <div class="contact-item">
            <a href="">
            <div class="icon">
                <img
                    src="{% static 'assets/home/email.png' %}"
                    alt="email"
                />
            </div>
            <span>mail-adress@example.com</span>
            </a>
        </div>
        <div class="contact-item">
            <a href="">
            <div class="icon">
                <img
                    src="{% static 'assets/home/telegram.png' %}"
                    alt="email"
                />
            </div>
            <span>@example</span>
            </a>
        </div>
      </div>
    </div>
  </div>
</section>
