{% load static %}
{% load static i18n %}

<section id="latest_products">
    <div class="latest_products web_size">
        <h2>New arrivals</h2>
        <div class="swiper latestProdSwiper">
            <div class="swiper-wrapper">
                {% for product in newest_products  %}
                    {% if product.in_stock %}
                        <div class="product swiper-slide">
                                <button id="selected_like"
                                        class="{% if product.id|stringformat:"s" in request.session.session_key %}favorited{% endif %}"
                                        data-product-id="{{ product.id }}"
                                        style="color: {% if product.id|stringformat:"s" in request.session.session_key %}#F21000{% else %}#fff{% endif %};">
                                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                                </button>
                                <a href="{% url 'products:product_detail' product.slug %}">
                                <div class="product_img">
                                    {% if product.is_top_seller %}
                                    <div class="top_sales">Top sales</div>
                                    {% endif %}
                                    <img src="{% if product.images %}{{ product.images.url }}{% else %}{% static 'assets/placeholder.png' %}{% endif %}" alt="{{ product.name }}" onerror="this.src='{% static 'assets/placeholder.png' %}'" />
                                    {% if product.discount_price %}
                                    <div class="product_discount_percent">
                                        <span>-{{ product.discount_percentage|floatformat:0 }}%</span>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                </div>

                                    <div class="product_info">
                                        <h3>{{ product.name }}</h3>
                                        <div class="ptoduct_price">
                                            {% if product.discount_price %}
                                                <span class="main_price">{{ product.discount_price }} $</span>
                                                <span class="discount_price">{{ product.price }} $</span>
                                            {% else %}
                                                <span class="main_price">{{ product.price }} $</span>
                                            {% endif %}
                                            <div class="product-btn">
                                                <button class="add_to_cart" id="add_to_cart" value="{{ product.id }}">
                                                    <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                                
          
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
