{% extends '_base.html' %}
{% load static %}

{% block title %}<title>{{ category.name }} | Ahmad Electronics Store</title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/categories/category.css' %}" />
<link rel="stylesheet" href="{% static 'styles/products/products.css' %}" />
{% endblock %}

{% block body %}
<section id="all_categories_page">
    <div class="all_categories web_size">
        
        <div class="page_section_name">
            <span>
                Home > {{ category.get_category_path }}
            </span>
            <h1>{{ category.name }}</h1>
        </div>


        {% if subcategories %}
        <div class="categories_group">
            {% for subcategory in subcategories %}
                <div class="categories_item">
                    <a href="{{ subcategory.get_absolute_url }}">
                        {% if subcategory.image_link %}
                            <img src="{{ subcategory.image_link.url }}" alt="{{ subcategory.name }}" /> 
                        {% endif %}
                        <h3>{{ subcategory.name }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if product_list.has_other_pages or product_list|length > 0 %}
        <section id="products">
            <div class="web_size products-content">
                {% include 'products/_filter_block.html' %}
                <div style="flex: 1">
                    <div style="display: flex; justify-content: start; align-items: start; gap: 8px; margin-bottom: 8px">
                        <div class="sort_data_by_price">
                        <div data-info="select-box" class="select-box-byPrice">
                            <div>
                                <span class="byPrice-atFirst">At first:</span>
                                <span class="byPrice-selected">Latest items</span>
                            </div>
                            <i class="fa-solid fa-angle-up"></i>
                        </div>
                        <div data-info="select-dropdown-box" class="select-dropdown-box-byPrice">
                            <div>
                                <a href="?sort=cheap_first">Cheap first</a>
                            </div>
                            <div>
                                <a href="?sort=expensive_first">Expensive first</a>
                            </div>
                            <div>
                                <a href="?sort=latest_items">Latest items</a>
                            </div>
                        </div>
                    </div>
                    {% include 'products/_mb_filter.html' %}
                </div>
                    <div class="products_group" id="product-list">
                        {% for product in product_list  %}
                            {% if product.in_stock %}
                            <div class="product">
                                <button id="selected_like"
                                        class="{% if product.id|stringformat:"s" in request.session.session_key %}favorited{% endif %}"
                                        data-product-id="{{ product.id }}"
                                        style="color: {% if product.id|stringformat:"s" in request.session.session_key %}#F21000{% else %}#fff{% endif %};">
                                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                                </button>
                                <a href="{% url 'products:product_detail' product.slug %}">
                                <div class="product_img">
                                    {% if product.is_top_seller %}
                                    <div class="top_sales">Top sales</div>
                                    {% endif %}
                                    {% if product.images %}
                                        <img src="{{ product.images.url }}" alt="{{ product.name }}">
                            
                                    {% endif %}
                                    {% if product.discount_price %}
                                    <div class="product_discount_percent">
                                        <span>-{{ product.discount_percentage|floatformat:0 }}%</span>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                </div>

                                <div class="product_info">
                                    <h3>{{ product.name }}</h3>
                                    <div class="ptoduct_price">
                                        {% if product.discount_price %}
                                            <span class=" main_price">{{ product.discount_price }} $</span>
                                            <span class="discount_price">{{ product.price }} $</span>
                                        {% else %}
                                            <span class="main_price">{{ product.price }} $</span>
                                        {% endif %}
                                        <div class="product-btn">
                                            <button class="add_to_cart" id="add_to_cart" value="{{ product.id }}">
                                                <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    
                                </div>
                                </a>
                                
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if is_paginated %}
                        <div class="pagination">
                            <div class="arrow-group">
                                {% if page_obj.number > 1 %}
                                    <a href="?page=1" class="page-link arrow"><i class="fa-solid fa-angles-left"></i></a>
                                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link arrow"><i class="fa-solid fa-angle-left"></i></a>
                                {% endif %}
                            </div>

                            <div class="pages-link">
                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <span class="page-link active">{{ num }}</span>
                                    {% elif num <= 3 or num > page_obj.paginator.num_pages|add:"-3" or num == page_obj.number|add:"-1" or num == page_obj.number|add:"1" %}
                                        <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                                    {% elif num == 4 or num == page_obj.paginator.num_pages|add:"-4" %}
                                        <span class="page-link">...</span>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="arrow-group">
                                {% if page_obj.number < page_obj.paginator.num_pages %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link arrow"><i class="fa-solid fa-angle-right"></i></a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link arrow"><i class="fa-solid fa-angles-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        {% else %}
            <div class="no_products">
                <img src="{% static 'assets/no_items.svg' %}" alt="No products" />
                <p>There are no products in this category</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}



{% block script %}
<script>
$(document).ready(function() {
    const checkboxes = $(".filter-checkbox");
    const checkboxesMb = $(".filter-checkbox-mb");Price
    const priceFilterBtn = $("#filter-btn");

    // Toggle sorting options on click
    $(".select-box-byPrice").click(function() {
        $(".select-dropdown-box-byPrice").toggleClass("active");
        $(".sort_data_by_price .select-box-byPrice i").toggleClass("active");
    });

    // When a sort option is selected
    $(".select-dropdown-box-byPrice a").click(function(e) {
        e.preventDefault(); 
        
        const selectedSort = $(this).text();
        $(".byPrice-selected").text(selectedSort);
        
        const formData = $("#filter-form").serialize() + `&sort=${$(this).attr('href').split('=')[1]}`;

        $(".select-dropdown-box-byPrice").removeClass("active");
        $(".sort_data_by_price .select-box-byPrice i").removeClass("active");

        $.ajax({
            url: `?${formData}`, 
            type: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            },
            success: function(data) {
                const newProductList = $(data).find("#product-list").html();
                $("#product-list").html(newProductList);
            }
        });
    });

    checkboxes.on("change", applyFilters);
    checkboxesMb.on("change", applyFiltersMB)
    priceFilterBtn.on("click", applyFilters);

    // Show more characteristic values
    $(".see-more").on("click", function() {
        const characteristic = $(this).data("characteristic");
        const moreValuesDiv = $(`.more-values[data-characteristic="${characteristic}"]`);
        const hiddenItems = moreValuesDiv.find(".sort_data_value.hidden");

        let count = 0;
        hiddenItems.each(function() {
            if (count < 10) {
                $(this).removeClass("hidden");
                count++;
            }
        });

        if (hiddenItems.length <= 10) {
            $(this).hide();
        }
    });

    // Define the applyFilters function
    function applyFilters() {
        const formData = $("#filter-form").serialize();

        
        $.ajax({
            url: `?${formData}`,
            type: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            },
            success: function(data) {
                const newProductList = $(data).find("#product-list").html();
                $("#product-list").html(newProductList);
            }
        });
    }

    // Aplyfilter for mobile
    function applyFiltersMB() {
        const formData = $("#filter-form-mb").serialize();
        
        $.ajax({
            url: `?${formData}`,
            type: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            },
            success: function(data) {
                const newProductList = $(data).find("#product-list").html();
                $("#product-list").html(newProductList);
            }
        });
    }

    // Open mobile filter sidebar
    $("#mobile_filter_btn").on("click", function() {
        $(".mobile_filter_layer").addClass("active");
    });

    // Toglle for dropdown 
    $(".mb_filter_title").on("click", function () {
        $(this).next(".mb_sort_value").toggleClass("active"); 
        $(this).toggleClass("active"); 
    });


    // Close mobile filter sidebar
    $("#mobile_filter_close_btn").on("click", function() {
        $(".mobile_filter_layer").removeClass("active");
        applyFiltersMB();
    });
});
</script>

{% endblock %}