    <footer>
      <div class="footer web_size">
        <div class="footer_item">
          <div class="">
            <span>Helpdesk</span>
            <a href="">+999 125 756 05 00</a>
            <a href="">+999 125 756 05 00</a>
          </div>
          <div class="">
            <span>Contact</span>
            <a href="">
              <svg
                width="16"
                height="17"
                viewBox="0 0 16 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_417_1156)">
                  <mask
                    id="mask0_417_1156"
                    style="mask-type: luminance"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="16"
                    height="17"
                  >
                    <path
                      d="M16 0.220703H0V16.2207H16V0.220703Z"
                      fill="white"
                    />
                  </mask>
                  <g mask="url(#mask0_417_1156)">
                    <path
                      d="M0.371696 16.2207C0.281852 16.2207 0.19445 16.1852 0.129631 16.1196C0.0441815 16.0332 0.0112225 15.9077 0.043327 15.7904L1.08349 11.9921C0.435905 10.821 0.0944745 9.49633 0.0949627 8.15161C0.0967938 3.77844 3.65563 0.220703 8.02843 0.220703C10.1494 0.221558 12.1423 1.04773 13.6403 2.54675C15.1379 4.0459 15.9624 6.03869 15.9618 8.15796C15.9598 12.5312 12.401 16.0892 8.02843 16.0892H8.02502C6.74779 16.0887 5.48156 15.7775 4.35412 15.1879L0.458 16.2096C0.429435 16.217 0.400383 16.2207 0.371696 16.2207Z"
                      fill="#64B161"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6.13244 4.97827C5.99035 4.66235 5.8407 4.656 5.70544 4.65051C5.59485 4.64575 5.46826 4.646 5.34192 4.646C5.21545 4.646 5.00989 4.6936 4.83606 4.88342C4.66211 5.07324 4.17188 5.53223 4.17188 6.4657C4.17188 7.39929 4.85181 8.30127 4.94665 8.42798C5.0415 8.55456 6.25914 10.5314 8.18748 11.2919C9.79014 11.9239 10.1162 11.7982 10.4641 11.7666C10.812 11.735 11.5865 11.3076 11.7446 10.8646C11.9028 10.4216 11.9028 10.042 11.8553 9.96252C11.8078 9.88354 11.6814 9.83606 11.4917 9.74121C11.302 9.64636 10.3692 9.18725 10.1953 9.12402C10.0213 9.06067 9.89489 9.02917 9.76842 9.21911C9.64184 9.40881 9.27856 9.83606 9.16784 9.96252C9.05712 10.0893 8.9464 10.1052 8.75671 10.0102C8.56701 9.91516 7.95593 9.71496 7.23107 9.0686C6.66711 8.56579 6.28625 7.9447 6.17553 7.75476C6.06494 7.56506 6.17369 7.47131 6.2589 7.36767C6.41234 7.18103 6.6698 6.84546 6.73303 6.71899C6.79626 6.59228 6.76464 6.48157 6.71728 6.3866C6.6698 6.29175 6.30102 5.35351 6.13244 4.97827Z"
                      fill="white"
                    />
                  </g>
                </g>
                <defs>
                  <clipPath id="clip0_417_1156">
                    <rect
                      width="16"
                      height="16"
                      fill="white"
                      transform="translate(0 0.220703)"
                    />
                  </clipPath>
                </defs>
              </svg>
              WhatsApp
            </a>
            <a href="">
              <svg
                width="16"
                height="17"
                viewBox="0 0 16 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_417_1167)">
                  <path
                    d="M11 0.220703H5C2.239 0.220703 0 2.4597 0 5.2207V11.2207C0 13.9817 2.239 16.2207 5 16.2207H11C13.761 16.2207 16 13.9817 16 11.2207V5.2207C16 2.4597 13.761 0.220703 11 0.220703ZM14.5 11.2207C14.5 13.1507 12.93 14.7207 11 14.7207H5C3.07 14.7207 1.5 13.1507 1.5 11.2207V5.2207C1.5 3.2907 3.07 1.7207 5 1.7207H11C12.93 1.7207 14.5 3.2907 14.5 5.2207V11.2207Z"
                    fill="url(#paint0_linear_417_1167)"
                  />
                  <path
                    d="M8 4.2207C5.791 4.2207 4 6.0117 4 8.2207C4 10.4297 5.791 12.2207 8 12.2207C10.209 12.2207 12 10.4297 12 8.2207C12 6.0117 10.209 4.2207 8 4.2207ZM8 10.7207C6.622 10.7207 5.5 9.5987 5.5 8.2207C5.5 6.8417 6.622 5.7207 8 5.7207C9.378 5.7207 10.5 6.8417 10.5 8.2207C10.5 9.5987 9.378 10.7207 8 10.7207Z"
                    fill="url(#paint1_linear_417_1167)"
                  />
                  <path
                    d="M12.2986 4.45369C12.5929 4.45369 12.8316 4.21506 12.8316 3.9207C12.8316 3.62633 12.5929 3.3877 12.2986 3.3877C12.0042 3.3877 11.7656 3.62633 11.7656 3.9207C11.7656 4.21506 12.0042 4.45369 12.2986 4.45369Z"
                    fill="url(#paint2_linear_417_1167)"
                  />
                </g>
                <defs>
                  <linearGradient
                    id="paint0_linear_417_1167"
                    x1="1.46465"
                    y1="14.7562"
                    x2="14.5353"
                    y2="1.68525"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#FFC107" />
                    <stop offset="0.507" stop-color="#F44336" />
                    <stop offset="0.99" stop-color="#9C27B0" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_417_1167"
                    x1="5.17165"
                    y1="11.049"
                    x2="10.8283"
                    y2="5.39235"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#FFC107" />
                    <stop offset="0.507" stop-color="#F44336" />
                    <stop offset="0.99" stop-color="#9C27B0" />
                  </linearGradient>
                  <linearGradient
                    id="paint2_linear_417_1167"
                    x1="11.9217"
                    y1="4.29765"
                    x2="12.6754"
                    y2="3.54385"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#FFC107" />
                    <stop offset="0.507" stop-color="#F44336" />
                    <stop offset="0.99" stop-color="#9C27B0" />
                  </linearGradient>
                  <clipPath id="clip0_417_1167">
                    <rect
                      width="16"
                      height="16"
                      fill="white"
                      transform="translate(0 0.220703)"
                    />
                  </clipPath>
                </defs>
              </svg>
              Instagram
            </a>
            <a href="">
              <svg
                width="16"
                height="17"
                viewBox="0 0 16 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_417_1175)">
                  <mask
                    id="mask0_417_1175"
                    style="mask-type: luminance"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="16"
                    height="17"
                  >
                    <path
                      d="M16 0.220703H0V16.2207H16V0.220703Z"
                      fill="white"
                    />
                  </mask>
                  <g mask="url(#mask0_417_1175)">
                    <path
                      d="M15.1168 0.220703H0.882446C0.39502 0.220947 -0.000122042 0.616333 2.82755e-08 1.10388V15.3383C0.000244169 15.8257 0.39563 16.2208 0.883179 16.2207H15.1168C15.6045 16.2208 15.9999 15.8256 16 15.3379C16 15.3378 16 15.338 16 15.3379V1.10315C15.9998 0.615723 15.6044 0.220581 15.1168 0.220703Z"
                      fill="#4267B2"
                    />
                    <path
                      d="M11.0469 16.2206V10.0331H13.1328L13.4453 7.6112H11.0469V6.06872C11.0469 5.36914 11.2411 4.89246 12.2443 4.89246H13.5156V2.73218C13.2944 2.70276 12.5355 2.63696 11.6525 2.63696C9.80872 2.63696 8.54688 3.76196 8.54688 5.82886V7.6112H6.46875V10.0331H8.54688V16.2206H11.0469Z"
                      fill="white"
                    />
                  </g>
                </g>
                <defs>
                  <clipPath id="clip0_417_1175">
                    <rect
                      width="16"
                      height="16"
                      fill="white"
                      transform="translate(0 0.220703)"
                    />
                  </clipPath>
                </defs>
              </svg>
              Facebook
            </a>
          </div>
        </div>
        <div class="footer_item">
          <div class="navigation">
            <span>Categories</span>
            <ul>
              <li><a href="{% url 'app:category_detail' category_slug='gaming-consoles' %}">Gaming & Consoles</a></li>
              <li><a href="{% url 'app:category_detail' category_slug='pc-laptop-accessories' %}">PC & Laptop Accessories</a></li>
              <li><a href="{% url 'app:category_detail' category_slug='phone-mobile-accessories' %}">Phone & Mobile Accessories</a></li>
              <li><a href="{% url 'app:category_detail' category_slug='audio-sound-systems' %}">Audio & Sound Systems</a></li>
              <li><a href="{% url 'app:category_detail' category_slug='tv-and-home-entertainment' %}">Home Entertainment</a></li>
              <li><a href="{% url 'app:category_detail' category_slug='health-monitors' %}">Health Monitors</a></li>
              <li><a href="{% url 'app:category_detail' category_slug='sports-and-hobbies' %}">Sports</a></li>
              <li><a href="{% url 'app:category_detail' category_slug='toys-games' %}">Toys & Games</a></li>
              <li><a href="{% url 'app:category_detail' category_slug='beauty-and-health' %}">Fashion</a></li>
            </ul>
          </div>
        </div>
        <div class="footer_item">
          <div class="navigation">
            <span>Sellers</span>
            <ul>
              <li><a href="">Sell on Ahmad Shop</a></li>
              <li><a href="">Sell on Ahmad Shop Business</a></li>
              <li><a href="">Sell on Ahmad Shop Marketplace</a></li>
              <li><a href="">Sell on Ahmad Shop Global</a></li>
            </ul>
          </div>
          <div class="navigation">
            <span>Partners</span>
            <ul>
              <li><a href="">Become a partner</a></li>
              <li><a href="">Sell on Ahmad Shop</a></li>
              <li><a href="">Sell on Ahmad Shop Business</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>