/* Navabar */
.navbar nav .web_size {
    /* background-color: var(--black); */
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar nav:first-child {
    padding: 10px 0;
    /* background-color: var(--black); */
    background-color: var(--white);
    border-bottom: 1px solid #50557a;
}

.navbar nav:first-child ul li,
.navbar nav:first-child ul li a {
    /* color: var(--white); */
    color: var(--black);
    font-weight: 400;
    font-size: 12px;
}

.navbar nav:first-child .left ul,
.navbar nav:first-child .right ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar nav:first-child .right ul li button,
.navbar nav:first-child .right ul li:last-child {
    border: none;
    background-color: transparent;
    display: flex;
    /* color: var(--white); */
    color: var(--black);
    cursor: pointer;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
}

.navbar nav:first-child .right ul li .language_menu img {
    height: 18px;
    width: 18px;
}

.navbar nav:first-child .right .phone_menu,
.navbar nav:first-child .right .language {
    display: none;
    position: absolute;
    top: 40px;
    /* background-color: var(--white); */
    background-color: var(--black);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 100;
    overflow: hidden;
}

.navbar nav:first-child .right .language {
    right: 2%;
}

.navbar nav:first-child .right .phone_menu ul,
.navbar nav:first-child .right .language ul {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.navbar nav:first-child .right .language ul li a {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 6px;
}

.navbar nav:first-child .right .language ul li a span {
    width: 24px;
    /* color: var(--black); */
    color: var(--white);
}

.navbar nav:first-child .right .phone_menu ul li a {
    /* color: var(--black); */
    color: var(--white);
}

.navbar nav:first-child .right .phone_menu ul li,
.navbar nav:first-child .right .language ul li {
    transition: 0.3s all ease-in-out;
    padding: 10px 16px;
}

.navbar nav:first-child .right .phone_menu ul li:hover,
.navbar nav:first-child .right .language ul li:hover {
    background: var(--gray);
}

/* Bottom Nav */
.navbar nav:last-child {
    padding: 12px 0;
    /* background-color: var(--black); */
    background-color: var(--white);
}

.navbar nav:last-child .web_size {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar nav:last-child .middle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar nav:last-child .logo,
.navbar nav:last-child .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar nav:last-child .logo {
    /* background-color: var(--white); */
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.navbar nav:last-child .logo a {
    width: 100%;
    height: 100%;
}

.navbar nav:last-child .logo img {
    width: 80%;
    margin-right: 4px;
}

/* Catalog */
#catalog_main_toggle {
    border-radius: 2px;
    width: 160px;
    height: 36px;
    background-color: var(--accent);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

#catalog_main_toggle svg.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.catalog_content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    max-height: calc(100vh - 120px);
    position: absolute;
    top: 100px;
    z-index: 100;
    /* background-color: var(--white); */
    box-shadow: 0 4px 10px rgba(32, 39, 61, .08);
    border-radius: 2px;
}

.catalog_content.active {
    display: flex;
    opacity: 1;
}

.catalog_content .catalog_items_submenus {
    background: var(--white);
    overflow-x: hidden;
    overflow-y: auto;
    width: 256px;
}

.catalog_content .catalog_items_submenus .wrapper_list_submenus {
    border-right: 1px solid #e7e8ed;
    height: 100%;
    transition-delay: .3s;
    width: 257px;
    -webkit-transition: all .2sease-in-out;
    transition: all .2sease-in-out;
    -webkit-transition-delay: .3s;
}

.catalog_content .catalog_items_submenus .wrapper_list_submenus ul li a {
    font-size: 13px;
    line-height: 16px;
    padding: 11px 16px;
    position: relative;
    color: var(--black);
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    align-items: center;
    justify-content: space-between;
}

.catalog_content .catalog_items_submenus .wrapper_list_submenus ul li a span {
    padding-right: 30px;
    width: 100%;
}

.catalog_content .catalog_items_submenus .wrapper_list_submenus ul li a svg {
    transform: rotate(-90deg);
    transition: 0.3s all ease-in-out;
}



/* Search */
.navbar nav:last-child .middle .search_bar form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--white);
    border: 1px solid #e7e8ed;
    width: 510px;
    height: 36px;
    transition: 0.3s all ease-in-out;
}

.navbar nav:last-child .middle .search_bar form input {
    flex-grow: 1;
    height: 100%;
    padding-left: 16px;
    font-weight: 400;
    font-size: 13px;
    outline: none;
    background: none;
    border: none;
}

.navbar nav:last-child .middle .search_bar form input::placeholder {
    font-weight: 400;
    font-size: 13px;
    color: #a5a8b1;
}

.navbar nav:last-child .middle .search_bar form button {
    background-color: var(--accent);
    cursor: pointer;
    border: none;
    width: 36px;
    height: 36px;
    margin-left: 16px;
}

.navbar nav:last-child .middle .search_bar form #search_type .choosen {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-left: 1px solid #dcdde4;
    width: 75px;
    height: 20px;
    padding-left: 10px;
}

.navbar nav:last-child .middle .search_bar form #search_type .items {
    display: none;
}


/* Static Categories */
.static_categories {
    /* background-color: var(--black); */
    background-color: var(--white);
    padding: 20px 0;
}

.static_categories .static_categories_item {
    display: flex;
    align-items: center;
}

.static_categories_item a {
    display: flex;
    align-items: center;
    gap: 14px;
}

.static_categories_item a span {
    font-weight: 400;
    font-size: 13px;
    /* color: var(--white); */
    color: var(--black);
    width: 150px;
    display: block;
}

.static_categories div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.static_categories div .all-categories {
    font-weight: 600;
    font-size: 16px;
    color: var(--accent);
    width: 103px;
}


/* Right */
.navbar nav:last-child .right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 28px;
}

.navbar nav:last-child .right a:first-child {
    display: none;
}

.navbar nav:last-child .right a {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}

.navbar nav:last-child .right a span {
    font-weight: 700;
    font-size: 13px;
    /* color: var(--white); */
    color: var(--black);
}

.navbar nav:last-child .right a .cart_count {
    position: absolute;
    left: 16px;
    top: -.375rem;
    font-size: 11px;
    text-align: center;
    font-weight: 400;
    width: 1rem;
    height: 1rem;
    background-color: var(--accent);
    border-radius: 50%;
}

/* Header */
header {
    /* background-color: var(--black); */
    background-color: var(--white);
    padding: 0 2%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header-content .info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-content .info h1 {
    font-weight: 600;
    font-size: 56px;
    /* color: var(--white); */
    color: var(--black);
    width: 100%;
    max-width: 488px;
    transition: 0.3s all ease-in-out;
}

.header-content .info h1 span {
    color: var(--accent);
}

.header-content .info p {
    font-weight: 400;
    font-size: 18px;
    max-width: 346px;
    width: 100%;
    color: var(--dark_grey);
}

.header-content .info .links {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 26px;
}

.header-content .info .links a {
    padding: 12px 32px;
}

.header-content .info .links a:first-child {
    border-radius: 33px;
    box-shadow: 0 4px 32px 0 rgba(223, 195, 124, 0.25);
    /* background: var(--white); */
    background: var(--black);
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-content .info .links a:first-child span {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    /* color: var(--black); */
    color: var(--white);
}

.header-content .info .links a:first-child .icon {
    width: 32px;
    height: 32px;
    background-color: var(--accent);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.header-content .info .links a:last-child {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: var(--accent);
}

/* News Slider */
.header-content .right {
    position: relative;
    max-width: 712px;
    width: 100%;
}

.right .news_slider {
    position: absolute;
    top: 22%;
    left: 3%;
    width: 200px;
    height: 290px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grabbing;

}

.news_slider_items img {
    width: 153px;
    height: 370px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.below-right-div {
    display: flex;
    justify-content: space-between;
}

.slider-img {
    width: 153px;
    height: 370px;
}

.header-content .swiper-pagination {
    background-color: var(--dark_grey);
    border-radius: 12px;
    padding: 4px 10px;
    width: auto !important;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.header-content .swiper-pagination-bullet {
    background-color: var(--white);
    transition: 0.3s all ease-in-out;
}

.header-content .swiper-pagination-bullet:hover {
    background-color: var(--accent);
}

.header-content .right .privileges_group {
    max-width: 712px;
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    transition: 0.3s all ease-in-out;
}

.header-content .right .privilege {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.header-content .right .privilege .info span {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    /* color: var(--white); */
    color: var(--black);
}

.header-content .right .privilege .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Categories Section */
#categories {
    /* background-color: var(--black); */
    background-color: var(--white);
}

.categories-content {
    padding: 66px 6%;
}

.section_name {
    /* color: var(--white); */
    color: var(--black);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 52px;
}

.categories-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 24px;
}

.categories-item {
    height: 300px;
    background-color: var(--accent);
    padding: 38px 26px;
    border-radius: 28px;
    text-align: center;
}

.categories-item .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: var(--white);
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.categories-item span {
    font-weight: 800;
    font-size: 26px;
    height: 44px;
}

.categories-item a {
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    width: 104px;
    height: 32px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin: auto;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.categories-item .icon img {
    height: 100px;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}

.categories-item:hover .content {
    transform: translateY(-100px);
}

.categories-item:hover .icon img {
    height: 170px;

}

.categories-item:hover a {
    opacity: 1;
    transform: translateY(0);
}

/* Contact us */
#contact {
    /* background-color: var(--black); */
    background-color: var(--white);
}

.contact-info h3 {
    font-weight: 600;
    font-size: 32px;
    /* color: var(--white); */
    color: var(--black);
}

.contact-info .contact-items-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.contact-info .contact-items-group .contact-item a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.contact-info .contact-items-group .contact-item a .icon {
    border-radius: 58px;
    width: 101px;
    height: 101px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info .contact-items-group .contact-item a span {
    font-weight: 400;
    font-size: 16px;
    /* color: var(--white); */
    color: var(--black);
}

/* Latest products */
#latest_products {
    /* background-color: var(--black); */
    background-color: var(--white);
    padding: 90px 0;
}

#latest_products h2 {
    font-weight: 600;
    font-size: 32px;
    /* color: var(--white); */
    color: var(--black);
    margin-bottom: 34px;
}

#latest_products .swiper-pagination {
    margin-top: 50px;
    position: relative;
}

#latest_products .swiper-pagination-bullet {
    /* background-color: var(--white); */
    background-color: var(--gray);
}

/* Footer */
footer {
    /* background-color: var(--black); */
    background-color: var(--white);
}

.footer {
    padding: 70px 2%;
    /* color: var(--white); */
    color: var(--black);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.footer_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    align-self: stretch;
    max-width: 300px;
}

.footer_item span {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 18px;
    display: block;
}

.footer_item ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_item ul li a {
    font-weight: 400;
    font-size: 16px;
    /* color: var(--white); */
    color: var(--black);
}

.footer_item:first-child div {
    display: flex;
    flex-direction: column;
}

.footer_item:first-child div:first-child a {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 9px;
    color: var(--black);
}

.footer_item:first-child div a {
    font-weight: 400;
    font-size: 16px;
    /* color: var(--white); */
    margin-bottom: 10px;
    color: var(--black);
}

/* Shop Cart Popup */
.popupCart-wrapper {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    bottom: 0;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: -20px;
    opacity: 0;
    z-index: 10000;
}

.popupCart-wrapper.active {
    display: flex;
    opacity: 1;
    top: 0;
}

.popupCart-wrapper .popupCart-overlay {
    background: #bdbfcd;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all .2sease-in;
    transition: all .2sease-in;
    z-index: 5001;
}

.popupCart-wrapper .popupCart-overlay.active {
    opacity: .6;
}

.popupCart-wrapper .popupCart div {
    scrollbar-width: thin;
}

.popupCart-wrapper .popupCart {
    display: flex;
    z-index: 10000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background: #f6f7f8;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100vh - 160px);
    max-width: 912px;
    position: relative;
    top: 0;
    -webkit-transition: all .2sease-in;
    transition: all .2sease-in;
    width: 100%;
}

.popupCart-wrapper .popupCart .popupCart-title {
    background: var(--white);
    border-bottom: 1px solid #e7e8ed;
    padding: 24px 40px;
    color: var(--black);
}

.popupCart-wrapper .popupCart .popupCart-title h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 2px;

}

.popupCart-wrapper .popupCart .popupCart-title p {
    font-size: 11px;
    font-weight: 400;
    line-height: 140%;
}

.popupCart-wrapper .popupCart .popupCart-title #close_cart_popup {
    position: absolute;
    right: 30px;
    top: 30px;
    color: var(--black);
    border: none;
    background: transparent;
    padding: 4px;
    font-size: 18px;
    cursor: pointer;
}

.popupCart-wrapper .popupCart .popupCart-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: scroll;
    position: relative;
}

.popupCart-wrapper .popupCart .popupCart-content .InfoBlock {
    padding: 0 40px;
}

.popupCart-wrapper .popupCart .popupCart-content .InfoBlock div {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
}

.popupCart-wrapper .popupCart .popupCart-content .InfoBlock div span:first-child {
    color: var(--black);
    font-size: 13px;
}

.popupCart-wrapper .popupCart .popupCart-content .InfoBlock div span:last-child {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--accent);
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items {
    padding: 24px 40px 80px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item {
    margin-bottom: 24px;
    background: var(--white);
    border-radius: 2px;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-content {
    padding: 24px 40px;
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: start;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-content div {
    display: flex;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-content .cartbox-img {
    -webkit-box-flex: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 112px;
    height: 112px;
    margin-right: 16px;
    width: 112px;
    -ms-flex: 0 0 112px;
    background-color: var(--dark_grey);
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-content .cartbox-details {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 8px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-content .cartbox-details a {
    color: var(--black);
    font-weight: 400;
    line-height: 150%;
    font-size: 1rem;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-content .cartbox-details .cartbox-discount {
    padding: 4px;
    background-color: var(--accent);
    color: var(--white);
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    display: inline;
    position: absolute;
    top: 26px;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-content .cartbox-details .cartbox-price {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-top: 30px;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-content .cartbox-details .cartbox-price .final_price {
    font-weight: 600;
    font-size: 18px;
    color: var(--accent);
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-content .cartbox-details .cartbox-price .old_price {
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    text-decoration: line-through;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-content .delete_btn {
    color: var(--black);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-footer {
    border-top: 1px solid #e7e8ed;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-footer span:first-child {
    font-size: 13px;
    color: var(--dark_grey);
}

.popupCart-wrapper .popupCart .popupCart-content .popupCart-items .popupCart-item .cartbox-footer span:last-child {
    color: var(--black);
    font-weight: 700;
    margin-left: 24px;
    font-size: 1rem;
}

.popupCart-wrapper .popupCart .popupCart-footer {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    background: var(--white);
    border-top: 1px solid #e7e8ed;
    flex-shrink: 0;
    height: 80px;
    left: 0;
    bottom: 0;
    padding: 16px 40px;
    position: absolute;
    -webkit-transition: all .2slinear;
    transition: all .2slinear;
    width: 100%;
}

.popupCart-wrapper .popupCart .popupCart-footer .popupCart-total {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--black);
}

.popupCart-wrapper .popupCart .popupCart-footer .popupCart-total span:first-child {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.popupCart-wrapper .popupCart .popupCart-footer .popupCart-total span:last-child {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.popupCart-wrapper .popupCart .popupCart-footer .popupCart-buttons a {
    background-color: var(--accent);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--white);
    padding: .75rem 1.5rem;
    border-radius: .125rem;
}

.popupCart-wrapper .popupCart .popupCart-footer .popupCart-buttons #close_cart_popup {
    background-color: transparent;
    cursor: pointer;
    color: var(--accent);
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 0 25px;
}

/* Loader */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: var(--accent);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Pagination */
.page-link {
    color: var(--white);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 40px;
}

.pagination .arrow-group {
    display: flex;
    align-items: center;
    gap: 14px;
}

.pagination .pages-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.pagination .pages-link {
    padding: 4px;
}

.pagination .arrow {
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    font-size: 12px;
    border-radius: 50%;
}

.no_products img {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
}

.no_products p {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: var(--white);
}

.top-right-div {
    width: 273px;
    position: relative;
}

.top-right-div .slider-img {
    width: 100% !important;
    height: 100% !important;
}

.top-right-div .news_slider {
    left: 19.6% !important;
    width: 55% !important;
    height: 235px;
}

.top-right-div .news_slider .swiper-wrapper .swiper-slide img {
    height: 100% !important;
}